.gridTileStyle {
    cursor: pointer;
}

.home-image {
    width: 100%; 
    height: auto;
}

.image-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;  /* Centering y-axis */
    align-items :center; /* Centering x-axis */
}

.categories-container{
    margin-top: 2em;
}