.welcome{
    .home-image {
        width: 60%; 
        height: auto;
    }
    
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.categories-container{
    margin-top: 2em;

    .tile {
        height: auto !important;
        cursor: pointer;

        .image-container{
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            display: flex;

            &:hover{
                .image {
                    background-size: 200%;
                }
            }
           
            .image {
                position: absolute;
                height: 100%;
                width: 100%;
                vertical-align: middle;
                margin-left: auto;
                margin-right: auto;
            }

            .overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                vertical-align: middle;
                background-color: black;
                opacity: 0.40;
                margin-right: auto;        
            }

            .text-container {
                position: absolute;
                height: 100%;
                width: 100%;
                vertical-align: middle;
                margin-right: auto;
                display: flex; 
                align-items: center;
                justify-content: center;
                color: white;
            }

        
        }
    }
}

