.category-card {
    transform: translateZ(0);
    transition: transform 0.5s ease-out;

    &:hover {
        transform: scale(1.05);
    }
}

.category-title {
    text-align: center;
}

.category-image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    .category-media {
        position: absolute;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }
}
