.cart-root {
    display: flex;
    height: 10em;
}

.cart-row-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.cart-info {
    display: flex;
    flex: 1;
}

.cart-actions {
    display: flex;
    align-items: flex-end;
}

.cart-title {
    flex: 1;
}

.cart-picker{
    margin-left: auto;
}

.cart-image-container {
    position: relative;
    overflow: hidden;
    padding-right: 10em;

    .cart-media {
        position: absolute;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }
}