.cart-page-end-list {
    margin-top: 4em;

    .total{
        display: flex;
        flex-direction: row;

        .info{
            display: flex;
            margin-left: auto;
            flex-direction: column;
        }

        .proceed-to-order {
            height: 3em;
        }
    }
}

.empty-shop-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-to-shop-button{
        margin-top: 2em !important;
    }
    
}

