.time-selector-container{
    display: flex;
    flex-direction: row;
    align-items: center;;
}

.timetable-space {
    font-size: 2rem;
    margin: 0 .5em;
}

.day-name{
    padding-bottom: 0 !important;
}

.day-component{
    padding-top: 0 !important;
}