.day {
    .name{
        padding-bottom: 0 !important;
    }

    .element {
        padding-top: 0 !important;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .time-selector {
            display: flex;
            flex-direction: row;
            align-items: center;;
        }
        
        .space {
            font-size: 2rem;
            margin: 0 .5em;
        }
    }
}

