@import "./../../App.scss";

.state-pending {
    background-color: $chip-pending-background !important;
    .MuiChip-label {
        color: $chip-pending-text !important;
    }
}

.state-in-delivery {
    background-color: $chip-in-delivery-background !important;
    .MuiChip-label {
        color: $chip-in-delivery-text !important;
    }
}

.state-delivered {
    background-color: $chip-delivered-background !important;
    .MuiChip-label {
        color: $chip-delivered-text !important;
    }
}
