.state-pending {
    background-color: #3f51b5 !important;
    .MuiChip-label {
        color: white !important;
    }
}

.state-in-delivery {
    background-color: yellow !important;
}

.state-state-delivered {
    background-color: green !important;
    .MuiChip-label {
        color: white !important;
    }
}
