.order-item {
  display: flex;
  flex-direction: row;
  padding: 0em 1em;
  width: 100%;

  .right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .rider-chip {
      margin-top: 0.5em;
    }
  }
}

.collapsed-detail {
  display: flex;
  flex-direction: column;

  .products {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .delivery-info {
    display: flex;
    flex-direction: row;

    .telephone-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: auto;
    
      h5 {
        text-align: right;
      }
    }
  }
}






