.ops-page-main {
    svg {
        max-width: 50%;
    }

    .error-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
        align-items: center;
    }

    .error-wrapper {
        width: auto;	
        margin: auto;
        flex-direction: column;
        min-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .st0{opacity:0.22;}
    .st1{fill:#A2DBF1;}
    .st2{opacity:0.3;}
    .st3{fill:#222221;}
    .st4{fill:#ECECEC;}
    .st5{fill:#494C53;}
    .st6{fill:#CBCBCA;}
    .st7{fill:#2B2B34;}
    .st8{fill:#FFFFFF;}
    .st9{fill:none;stroke:#5D62AB;stroke-width:3.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st10{fill:#DD9AB2;}
    .st11{fill:#D6819F;}
    .st12{fill:none;stroke:#5D62AB;stroke-width:2.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st13{fill:#E9C2D0;}
    .st14{fill:#F3B433;}


}

