.prod-details-center-container {
  display: flex;
  justify-content: center;
}

.prod-details-side-container {
  display: flex;
}

.prod-details-title {
  flex: 1;
  display: flex;
}

.prod-details-media {
  width: 100%;
  padding-top: 100%;
  margin-bottom: 2em;
}

.prod-details-ingredients {
  margin-top: 0;
}

.prod-details-ingredients-container {
  flex-grow: 1;
}

.prod-details-add-to-cart {
  margin-left: 2em !important;
}

.prod-details-add-to-cart-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.prod-details-info-container {
  display: flex;
  flex-direction: column;
}
