
.prod-details {

  .center-container {
    display: flex;
    justify-content: center;
  }

  .side-container {
    display: flex;
  }

  .title {
    flex: 1;
    display: flex;
  }

  .media {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 2em;
  }

  .ingredients {
    margin-top: 0;
  }

  .ingredients-container {
    flex-grow: 1;
  }

  .add-to-cart-container {
    display: flex;
    justify-content: center;
    margin-top: auto;

    button {
      margin-left: 2em !important;
    }

  }

  .info-container {
    display: flex;
    flex-direction: column;
  }

  .admin-commands {
    display: flex;
    justify-content: center;

    button {
      margin-right: 1em;
    }

  }

}
