.page-title {
  text-align: center !important;
}

.prod-details {
  .left{
    display: flex;
    justify-content: center;
    padding: 0 3em;

    .media {
      width: 100%;
      padding-top: 100%;
      margin-bottom: 2em;
    }
  
  }

  .right {
    margin-top: 2em;

    .info {
      text-align: center !important;

      .horizontal-divider {
        margin-right: 10em !important;
        margin-left: 10em !important;
      }

      .ingredients {
        margin-left: 4em;
        margin-right: 4em;

        .ingredient {
          padding: 0;

          .icon{
            min-width: 3em;
          }
        }
      }

      .quantity-container {
        display: flex;
        justify-content: center;
        margin-top: auto;
        margin-bottom: 1em;

        .quantity-picker {
          margin-left: 1em !important;
        }
      }

      .admin-commands {
        display: flex;
        justify-content: center;
    
        button {
          margin-right: 1em;
        }
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
