.product-root {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-details {
    margin-left: auto !important;
}

.product-media {
    height: 12em;
}

.product-title{
    height: 2em;
}