$color-primary: #921C2A;
$color-secondary: #FFFFFF;
$page-margin: 5em;
$page-margin-top: 7em;

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

.main {
    margin-top: $page-margin-top;
    margin-bottom: $page-margin;

    .page-title {
        color: $color-primary;
        margin-bottom: 1em;
    }

    .primary-label {
        color: $color-primary;
    }
    
}